@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,600;1,600&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/***********************BODY******************************/
body {
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;
  background-image: url(../images/pelota.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  /*******BOOTSRAP NAVBAR ALL PAGES**********/
  /********MAIN SECTION INDEX**************/
}
body header .navbar-brand .titulo-header {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #592E83;
  font-size: 80px;
  margin: 20px;
}
body .main-section-container {
  padding: 80px 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /********MAIN COMUNIDAD********/
  /****************MAIN ACTIVIDADES*****************/
  /*********MAIN MAPA DE CANCHAS*****************/
  /****************MAIN CONTACTO*******************/
}
body .main-section-container .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /*ancho del area de contenido de un elemento*/
  max-width: 1200px;
  /*ancho maximo de contenido de un elemento*/
}
body .main-section-container .text-container {
  margin-bottom: 10px;
}
body .main-section-container .text-container h1 {
  text-align: justify;
  font-size: 50px;
  color: #592E83;
  margin-bottom: 20px;
}
body .main-section-container .text-container h2 {
  font-size: 35px;
  color: #F44708;
  margin-bottom: 20px;
}
body .main-section-container .text-container .buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
body .main-section-container .text-container .buttons-container a {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  background-color: #0c7e6b;
  padding: 10px 20px;
  color: #f0f0f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
body .main-section-container .text-container .buttons-container a:hover {
  transform: scale(1.05);
  background-color: #020e06;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
body .main-section-container .text-container .buttons-container .zoom-in-up .phone-mockup-container {
  display: flex;
  justify-content: center;
}
body .main-section-container .text-container .buttons-container .zoom-in-up .phone-mockup-container img {
  margin-left: auto;
  padding: 20px;
  width: 500px;
}
body .main-section-container .who-section-container {
  padding: 40px 50px;
  display: flex;
  justify-content: center;
}
body .main-section-container .who-section-container .content-wrapper-comunidad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}
body .main-section-container .who-section-container .text-container-comunidad h1 {
  text-align: justify;
  font-size: 50px;
  color: #592E83;
  margin-bottom: 10px;
}
body .main-section-container .who-section-container .text-container-comunidad h2 {
  text-align: justify;
  font-size: 45px;
  color: #f09a05;
  margin-bottom: 20px;
}
body .main-section-container .who-section-container .text-container-comunidad p {
  text-align: left;
  font-size: 20px;
  color: #0f5e51;
  line-height: 1.6;
  /***Espacio entre líneas**/
}
body .main-section-container .who-section-container .equipo-container {
  /* flex:1; */
  display: flex;
  justify-content: center;
}
body .main-section-container .who-section-container .equipo-container img {
  margin-left: auto;
  padding: 20px;
  width: 250px;
  border: 0;
  border-radius: 10px;
}
body .main-section-container .main-actividades {
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
}
body .main-section-container .main-actividades .titulo-actividades {
  margin-bottom: 30px;
}
body .main-section-container .main-actividades .titulo-actividades h1 {
  font-size: 50px;
  color: #592E83;
  margin-bottom: 20px;
}
body .main-section-container .main-actividades .titulo-actividades h2 {
  font-size: 30px;
  color: #F44708;
  margin-bottom: 20px;
}
body .main-section-container .main-actividades lista-container ul {
  list-style: disc;
  padding: 0;
  margin: 0;
}
body .main-section-container .main-actividades lista-container ul li {
  color: #04a777;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
}
body .main-section-container .main-section-mapas {
  padding: 60px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-section-container .main-section-mapas .titulos-mapas {
  margin-bottom: 30px;
}
body .main-section-container .main-section-mapas .titulos-mapas h1 {
  font-size: 50px;
  color: #592E83;
  margin-bottom: 20px;
}
body .main-section-container .main-section-mapas .titulos-mapas h2 {
  font-size: 30px;
  color: #F44708;
  margin-bottom: 20px;
}
body .main-section-container .main-section-mapas .mapa-container {
  width: 100%;
  max-width: 800px;
}
body .main-section-container .main-section-mapas .mapa-container iframe {
  /* width: 100%; */
  height: 450px;
  border: 0;
  border-radius: 10px;
}
body .main-section-container .contacto-section {
  padding: 60px 40px;
  max-width: 800px;
  margin: 0 auto;
  color: #0f5e51;
}
body .main-section-container .contacto-section .descarga-app {
  text-align: center;
  margin-top: 50px;
}
body .main-section-container .contacto-section .descarga-app h2 {
  font-size: 24px;
  color: #04a777;
  margin-bottom: 10px;
}
body .main-section-container .contacto-section .descarga-app ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
body .main-section-container .contacto-section .descarga-app a {
  color: #592E83;
  font-weight: bold;
  text-decoration: none;
}
body .main-section-container .contacto-section .form-wrapper h1 {
  text-align: center;
  font-size: 42px;
  color: #592E83;
  margin-bottom: 30px;
}
body .main-section-container .contacto-section .form-wrapper .formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .main-section-container .contacto-section .form-wrapper .formulario-contacto label {
  font-weight: bold;
}
body .main-section-container .contacto-section .form-wrapper .formulario-contacto input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
body .main-section-container .contacto-section .form-wrapper .formulario-contacto select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
body .main-section-container .contacto-section .form-wrapper .formulario-contacto .radio-group {
  display: flex;
  gap: 20px;
}
body .main-section-container .contacto-section .form-wrapper .formulario-contacto button[type=submit] {
  background-color: #f44708;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .main-section-container .contacto-section .form-wrapper .formulario-contacto button[type=submit]:hover {
  background-color: #d63c06;
}

/*# sourceMappingURL=estilos.css.map */
