@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,600;1,600&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables';
@import 'mixins';
@import 'formulario';


/***********************BODY******************************/
body {
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    background-image: url(../images/pelota.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;



    /*******BOOTSRAP NAVBAR ALL PAGES**********/
    header {
        .navbar-brand {
            .titulo-header {
                font-family: "Chakra Petch", sans-serif;
                font-weight: 600;
                font-style: normal;
                color: #592E83;
                font-size: 80px;
                margin: 20px;
            }
        }
    }

    /****** FONDO TRASLÚCIDO ALL SECTIONS & FOOTER ******/
    .glass-content {
        background: rgba(255, 255, 255, 0.85);
        padding: 40px;
        border-radius: 16px;
        max-width: 1200px;
        margin: 0 auto;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    @media (min-width: 768px) {
        .glass-content {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }


    /******** MAIN SECTION INDEX **************/

    .main-section-container {
        padding: 80px 50px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
        }

        .text-container {
            margin-bottom: 10px;

            h1 {
                text-align: justify;
                font-size: 80px;
                color: #592E83;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 35px;
                color: #F09A05;
                margin-bottom: 20px;
            }

            /************* ESTILO DE BOTONES DEL INDEX ***********/
            .buttons-container {
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 50px;

                a {
                    text-decoration: none;
                    list-style: none;
                    font-size: 16px;
                    background-color: #db2b39;
                    padding: 10px 20px;
                    color: #f0f0f0;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    text-decoration: none;
                }

                a:hover {
                    transform: scale(1.05);
                    background-color: #020e06;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    transition: all 0.3s ease;
                }
            }

        }

        /******** MAIN COMUNIDAD ********/
        .who-section-container {
            padding: 40px 50px;
            display: flex;
            justify-content: center;

            .content-wrapper-comunidad {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 1200px;
            }

            .text-container-comunidad {
                h1 {
                    text-align: justify;
                    font-size: 50px;
                    color: #592E83;
                    margin-bottom: 10px;
                }

                h2 {
                    text-align: justify;
                    font-size: 45px;
                    color: #f09a05;
                    margin-bottom: 20px;
                }

                p {
                    text-align: left;
                    font-size: 20px;
                    color: #0f5e51;
                    line-height: 1.6;
                }
            }

        }

        /****************MAIN ACTIVIDADES*****************/
        .main-actividades {
            padding: 60px 40px;
            max-width: 1200px;
            margin: 0 auto;

            .titulo-actividades {
                margin-bottom: 30px;

                h1 {
                    font-size: 50px;
                    color: #592E83;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 30px;
                    color: #F44708;
                    margin-bottom: 20px;
                }
            }

            lista-container {
                ul {
                    list-style: disc;
                    padding: 0;
                    margin: 0;

                    li {
                        color: #04a777;
                        font-size: 20px;
                        margin-bottom: 15px;
                        position: relative;
                        padding-left: 25px;
                    }
                }
            }
        }

        /*********MAIN MAPA DE CANCHAS*****************/
        .main-section-mapas {
            padding: 60px 40px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .titulos-mapas {
                margin-bottom: 30px;

                h1 {
                    font-size: 50px;
                    color: #592E83;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 30px;
                    color: #F44708;
                    margin-bottom: 20px;
                }
            }

            .mapa-container {
                width: 100%;
                max-width: 800px;

                iframe {
                    height: 450px;
                    border: 0;
                    border-radius: 10px;
                }
            }
        }

        /*********** MAIN CONTACTO ************/
        .contacto-section {
            padding: 60px 40px;
            max-width: 800px;
            margin: 0 auto;
            color: #0f5e51;

            .form-wrapper {
                h1 {
                    text-align: center;
                    font-size: 42px;
                    color: #592E83;
                    margin-bottom: 30px;
                }

                .formulario-contacto {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input,
                    select {
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 6px;
                        font-size: 16px;
                    }

                    label {
                        font-weight: bold;
                        margin-bottom: 4px;
                    }
                }
                .radio-group {
                    display: flex;
                    gap: 20px;
                }

                button[type="submit"] {
                    background-color: #f44708;
                    color: white;
                    padding: 12px;
                    border: none;
                    border-radius: 6px;
                    font-size: 18px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }

                button[type="submit"]:hover {
                    background-color: #d63c06;
                }
            }

            .descarga-app {
                text-align: center;
                margin-top: 50px;

                h2 {
                    font-size: 24px;
                    color: #04a777;
                    margin-bottom: 10px;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                }

                a {
                    color: #592E83;
                    font-weight: bold;
                    text-decoration: none;
                }
            }

        }
    }
}