/************* FOOTER ALL PAGES ****************/
footer {
    text-align: center;
    padding: 2rem;
    gap: 2rem;

    .footer-navbar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom: 1rem;
        gap: 1rem;

        a {
            font-size: 0.9rem;
            text-decoration: none;
            color: #030c09;
            font-weight: 600;
        }
    }

    .derechos-reservados {
        p {
            color: #04a777;
            font-size: 12px;
            font-weight: 600;
            margin: 2px 0;
            text-align: center;
        }
    }
}